# Intermediate data files
variant_summary.txt.gz
gnomad_mody_raw.csv
clinvar_mody_dict.pkl

# Python
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Submission documents (not for repository)
*.docx
*.xlsx
